#mainHeading {
	background-color:Lavender;
	color:Black;
	padding:2%;
	width:25%;
	margin:auto;
	border-radius:5px;
}

.foodOption {
	min-height:2.3em; /*2.3em if easy mode 1.4em if hard*/
	font-size:1em;
	width:100%;
	display:none;
	border-style:none;
	text-align:left;
	height:auto;
	padding:0px;
	border-width:0px;
}

.foodTitle {
	font-weight:bold;
	font-size:1em;
	font-family:Georgia;
}

.foodDesc {
	font-style:oblique;
	font-size:0.6em;
}

.wholeScreen {
	width:100%;
	background-color:rgba(0,0,0,0.5);
	height:100%;
	outline-width:0px;
	margin-top:0px;
	position:fixed;
	top:0px;
}

#helpHeading {
	background-color:#E6FAE6;
	color:Black;
	padding:2%;
	width:25%;
	margin:auto;
	border-radius:5px;
}

#Title {
	font-family:Georgia;
	font-size:2.5em;
}

#playField {
	background-color:#FFFFFF;
	padding-top:6em;
	width:100%;
}

#resultSection {
	background-color:#FFFFFF;
	width:40%;
	margin-left:12.5%;
	margin-right:5%;
	float:left;
}


#answerSection {
	background-color:#FFFFFF;
	width:30%;
	margin-right:12.5%;
	padding-top:5em;
	float:left;
}

#inputSection {
	background-color:#FFFFFF;
	width:60%;
	margin-right:5%;
	padding-bottom:5%;
	border-radius:5px;
	float:left;
}

#foodList {
	background-color:#EEEEEE;
	border:1.6px;
	border-style:solid;
	border-color:#EEEEEE;
	margin-top:0.2em;
	max-height:10em;
	padding:2px;
	overflow:auto;
	text-align:left;
	width:100%;
}

#answer {
	font-size:1.1em;
	border-radius:3px;
	background-color:#EEEEEE;
	border-color:#DDDDDD;
	border-style:solid;
	text-align:left;
	width:100%;
}

#answerbutton {
	font-size:1.1em;
	border-radius:3px;
	background-color:#E6FAE6;
	border-color:#D1E8D1;
	border-style:solid;
	text-align:center;
}

#SubTitle {
	font-family:Georgia;
	font-size:1.25em;
}

#container {
	display:grid;
	align-content:center;
	column-gap:1%;
	grid-template-columns: 28% 17% 17% 17% 17%;
	vertical-align:middle;
	width:100%;
	margin-bottom:0.3em;
	height:2.25em;
}

#topBar {
	width:96%;	
	height:48px;
	background-color:#DDDDDD;
	top:0px;
	left:0px;
	position:absolute;
	padding-left:2%;
	padding-right:2%;
}

#food {
	background-color:#FFFFFF;
	border-radius:3px;
	padding-left:2em;
	overflow:auto;
	height:11em;
}

#examplefood {
	background-color:#EEEEEE;
	border-radius:3px;
	padding:1em;
}

#infocontainer {
	display:grid;
	column-gap:1%;
	text-align:center;
	grid-template-columns: 24% 24% 24% 25%;
	vertical-align:middle;
	width:100%;
	margin-bottom:1px;
}

.topBarButton{
	height:48px;
	width:48px;
	font-size:2em;
	background-color:rgba(0,0,0,0);
	border:0px;
	float:right;
	font-family:Monospaced;
}

.foodholder{
	background-color:#FFFFFF;
	outline-style:solid;
	outline-width:2px;
	outline-color:#DDDDDD;
	border-radius:1px;
	overflow-wrap:anywhere;
	height:inherit;
	align-content:center;
}

.example{
	background-color:#FFFFFF;
	border-radius:1px;
	overflow-wrap:anywhere;
}

body {
	color:Black;
	font-family:Tahoma;
}

@media only screen and (max-width: 985px) {
	#playField {
		padding-top:4em;
	}
	#container {
		width:100%;
		column-gap:2%;
		grid-template-columns: 16% 19% 19% 19% 19%;
		font-size:3.35vw;
		height:9vw;
		margin-bottom:1.5vw;
	}
	#resultSection {
		width:100%;
		margin-left:0px;
		margin-right:0px;
	}
	#answerSection {
		padding-top:0em;
		width:100%;
	}
	#inputSection {
		width:60%;
		margin-left:5%;
	}
	#mainHeading {
		width:88%;
		margin:0px;
	}
	#helpHeading {
		width:88%;
		margin:0px;
	}
	#foodList {
		max-height:5.3em;
	}
}
